.CardsView {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2%;
  margin: 3% 15%;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .CardsView {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.2%;
  }
}
