.Home {
  background-color: #1f2128;
  height: 100%;
  width: 100%;
  background-image: url(../assets/bg.png);
  background-size: contain;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: top;
  display: grid;
  grid-template-columns: 1fr;
}
